html {
    scroll-behavior: smooth;
    color-scheme: light dark;
}

body {
    accent-color: var(--accent);
    padding: 0;
    margin: 0;
    font-size: var(--step-0);
    line-height: var(--lh-0);
    font-family: var(--body);
    min-height: 100vh;
    min-height: 100svh;
    position: relative;
}

a {
    line-height: var(--lh-0);
    color: inherit;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
    opacity: 0.5;
    &[href] {
        opacity: 1;
    }
}

h1 {
    font-size: var(--step-5);
    line-height: var(--lh-5);
}

h2 {
    font-size: var(--step-3);
    line-height: var(--lh-3);
}

h3 {
    font-size: var(--step-2);
    line-height: var(--lh-2);
}

h4 {
    font-size: var(--step-1);
    line-height: var(--lh-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading);
    font-weight: bold;
    text-wrap: pretty;
    > a {
        line-height: inherit;
    }
}

small {
    font-size: var(--step--1);
}

p {
    margin-block: var(--space-s);
}

button {
    font-family: var(--body);
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-weight: 600;
    font-size: var(--step-0);
    padding: var(--space-xs) var(--space-s);
    text-align: center;
}
button:disabled {
    opacity: 0.8;
}

textarea {
    resize: vertical;
    min-height: var(--space-2xl);
    @supports(field-sizing: content) {
        field-sizing: content;
        resize: none;
    }
}
