---
import Welcome from '@components/Welcome.astro';
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';

const paragraphs = (await getCollection('paragraphs')).sort((a, b) => a.id.localeCompare(b.id));

---

<Layout>
	<main class="u-guttered">
		{paragraphs.map((paragraph) => <p>{paragraph.data.english}</p>)}
	</main>
</Layout>
