---
import Layout from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const response = await fetch(
	`${import.meta.env.GOOGLE_SHEET_APP_URL}?s=Paragraphs`,
);
const paragraphs = (await response.json()) as {
	english: string;
	spanish: string;
}[];
---

<Layout>
	<main class="u-guttered">
                <h1>Stubby Pringle's Christmas</h1>
		<fieldset class="controls">
			<label>
				<input type="radio" name="translation" value="english" />
				English
			</label>
			<label>
				<input type="radio" name="translation" value="spanish" />
				Spanish
			</label>
                        <label>
				<input type="radio" name="translation" value="english spanish" checked />
				Both
			</label>
		</fieldset>
		{
			paragraphs.map((paragraph) => (
				<div class="translations l-switcher">
					<p data-lang="english">{paragraph.english}</p>
					<p data-lang="spanish">{paragraph.spanish}</p>
				</div>
			))
		}
	</main>
</Layout>

<style lang="scss">
	.translations {
		--l-switcher-switchpoint: 10rem;
	}

	[data-lang] {
		display: none;
		margin-top: 0;
	}

	main:has(input[value~="english"]:checked) {
		[data-lang="english"] {
			display: block;	
		}
	}
	main:has(input[value~="spanish"]:checked) {
		[data-lang="spanish"] {
			display: block;
		}
	}
	.controls {
		display: flex;
		justify-content: center;
		gap: 1rem;
                border: none;
	}
</style>
