---
import Layout from "@layouts/Base.astro";

const response = await fetch(
	`${import.meta.env.GOOGLE_SHEET_APP_URL}?s=Paragraphs`,
);
const paragraphs = (await response.json()) as {
	english: string;
	spanish: string;
}[];
---

<Layout>
	<main class="u-guttered">
		<h1>Stubby Pringle's Christmas</h1>
		<fieldset class="controls">
			<label>
				<input type="radio" name="translation" value="en" />
				English
			</label>
			<label>
				<input type="radio" name="translation" value="es" />
				Spanish
			</label>
			<label>
				<input type="radio" name="translation" value="en es" checked />
				Both
			</label>
		</fieldset>
		{
			paragraphs.map((paragraph) => (
				<div class="translations l-switcher">
					<p class="translation" lang="en">
						{paragraph.english}
					</p>
					<p class="translation" lang="es">
						{paragraph.spanish}
					</p>
				</div>
			))
		}
	</main>
</Layout>

<style lang="scss">
	.translations {
		--l-switcher-switchpoint: 10rem;
	}

	.translation {
		display: none;
		margin-top: 0;
	}

	main:has(input[value~="en"]:checked) .translation:lang(en),
	main:has(input[value~="es"]:checked) .translation:lang(es) {
		display: block;
	}

	.controls {
		display: flex;
		justify-content: center;
		gap: 1rem;
		border: none;
	}
</style>
