---
import "@styles/base.scss";
import "@styles/layouts.scss";
import "@styles/theme.scss";
import "@styles/utilities.scss";
import "modern-normalize/modern-normalize.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Stubby Pringle's Christmas</title>
		<meta name="title" content="Stubby Pringle's Christmas" />
		<meta
			name="description"
			content="By Jack Shaefer. Translated into Spanish by Tyler Mercer."
		/>
		<meta property="og:image" content="/og.png" />
		<meta name="twitter:image" content="/og.png" />
		<meta property="og:title" content="Stubby Pringle's Christmas" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:locale" content="en" />
		<meta
			property="og:image:alt"
			content="Stubby Pringle's Christmas. By Jack Shaefer. Translated into Spanish by Tyler Mercer."
		/>
		<meta property="og:site_name" content="Stubby Pringle's Christmas" />
		<meta
			name="og:description"
			content="By Jack Shaefer. Translated into Spanish by Tyler Mercer."
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="tylermercerdev" />
		<meta name="twitter:title" content="Stubby Pringle's Christmas" />
		<meta
			name="twitter:description"
			content="By Jack Shaefer. Translated into Spanish by Tyler Mercer."
		/>
		<meta
			name="twitter:image:alt"
			content="Stubby Pringle's Christmas. By Jack Shaefer. Translated into Spanish by Tyler Mercer."
		/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: light)"
			content="#6f0f26"
		/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: dark)"
			content="#440010"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
	import logCommitHash from "@utils/logCommitHash";
	// This makes it easy to see which version of the site is being served
	logCommitHash();
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
